*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'open sans' , sans-serif;
    background-color: #222;
    color: #eee;
}
main{
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
}

/* [toolbar , controls] style */
#controls{
    display: flex;
    justify-content: end;
    padding: 0.4rem;
    background-color: #222;
    border-bottom: 1px solid #555;
}
.toolbar{
    padding: 0.2rem;
    background-color: #555;
    display: flex;
    justify-content: end;
    border-bottom: 1px solid #777;
}
.toolbar button , #controls > button , #controls > div > button{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    margin-left: 3px;
    font-size: 1.1rem;
    border-radius: 0.4rem;
    border: none;
    outline: none;
    color: #eee;
    background-color: #555;
}
.toolbar button:hover , #controls > button:hover , #controls > div > button:hover{
    background-color: #444;
    cursor: pointer;
}

/* [downloads-dropdown] style */
.downloads-dropdown{
    position: relative;
}
.downloads-centent{
    width: 10rem;
    position: absolute;
    right: 0;
    top: 100%;
    margin-top: 5px;
    font-size: 1.1rem;
    background-color: #444;
    border: 1px solid #777;
    border-radius: 0.4rem;
    overflow: hidden;
}
.downloads-centent > button{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 10px 15px ;
    background-color: transparent;
    border: none;
    color: #eee;
    cursor: pointer;
    text-transform: capitalize;
}
.downloads-centent > hr{
    background-color: #333;
    color: #444;
    border: 1px solid #555;
}

.downloads-centent > button:hover{
    background-color: #333;
    border: none;
}


/* [editor] style */
#editor-container{
    width: 100%;
    margin-bottom: 10px;
    background-color: #333;
    border-radius: 0.3rem;
    border: 1px solid #777;
    overflow: hidden;
}
#editor {
    min-height: 400px;
    height: 100%;
    width: 100%;
    padding: 1rem;
    background-color: transparent;
    color: #eee;
    border: none;
    outline: none;
}


/* [preview] style */
#preview-container {
    min-height: 400px;
    background-color: #222;
    border-radius: 0.3rem;
    border: 1px solid #777;
    overflow: hidden;
}
#preview{
    min-height: 400px;
    height: 100%;
    width: 100%;
    padding: 1rem;
    overflow-y: auto;
}
#preview *{
    padding: 0.5rem;
}
#preview img{
    width: 100%;
}
#preview a{
    color: rgb(92, 92, 236);
}
#preview blockquote {
    background-color: #333;
    padding: 0.1rem;
    border: 1px solid #555;
    border-left: 5px solid #555;
}
#preview code:not(#preview pre code){
    background-color: #333;
    line-height: 1.3rem;
    border: 1px solid #555;
}
#preview pre{
    background-color: #333;
    border: 1px solid #555;
}
#preview code ,
#preview pre ,
#preview blockquote,
#preview table{
    border-radius: 0.3rem
}
#preview hr{
    padding: 0;
    border: 1px solid #555;
}
#preview table{
    width: 100%;
    padding: 0;
    background-color: #333;
    overflow: hidden;
    border-collapse: collapse;
    outline: 1px solid #555;
}
#preview table th{
    border: 1px solid #555;
}
#preview table tr td{
    border: 1px solid #555;
}
#preview ul li, #preview ol li{
    margin-left: 20px;
}



.hidden{
    display: none;
}
.expand{
    height: 100vh;
}
.fullscreen{
    position: absolute;
    width: 100%;
    height: 100vmax;
    left: 0;
    top: 0;
    z-index: 999;
    border-radius: 0 !important;
}


@media (width >= 48rem) { 
    main{
        flex-direction: row;
        gap: 10px;
    }
    #editor-container  , #preview-container {
        flex-grow: 1;
    }
    #preview-container {
        width: 100%;
    }
    #editor-container{
        margin-bottom: 0;
        flex-grow: 1;
    }
}
